@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body,#app,#app_layout {
    height: 100%;
}
body{
    margin:0px;
}

html {
    position: relative;
    min-height: 100%;
  }
