@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body,#app,#app_layout {
    height: 100%;
}

html {
    position: relative;
    min-height: 100%;
    height: 100%;
  }
